@use "variable" as *;
@use "svg" as *;

/* =========================================
ドロップシャドウ
----------------------------------------- */
@mixin drop-shadow {
    box-shadow: 2px 2px 3px 0 rgb(53 45 32 / 15%);
}

/* ================================
 ラジオボタン・チェックボックス
-------------------------------- */
@mixin radioCheck {
    input[type="radio"],
    input[type="checkbox"] {
        position: absolute;
        inset: 0;
        z-index: +1;
        &.read-only {
            pointer-events: none;
        }
    }
    label {
        position: relative;
        font-size: FZ(16);
        padding-left: 2.1em;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            translate: 0 -50%;
            width: 1.5em;
            aspect-ratio: 1;
            border-radius: 50%;
            transition: 0.1s ease-out;
        }
        &::before {
            background-color: #eaeaea;
        }
        &::after {
            background-color: $base-orange;
            scale: 0;
        }
    }
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
        &::after {
            scale: 0.6;
        }
    }
    &:hover {
        label {
            &::before {
                border-color: $hover-orange;
            }
        }
    }
}

/* ================================
 セレクトボックス(JS併用版)
-------------------------------- */
@mixin select-list-box($height: 4.4rem, $position: left, $list-height: 3rem) {
    position: relative;
    font-size: inherit;
    .selectboxHead {
        transition: 0.3s ease-out;
        position: relative;
        width: 100%;
        height: $height;
        display: flex;
        align-items: center;
        padding-inline: 1.4em;
        background: #f6f6f6;
        border: 1px solid $base-orange;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        color: #e66b00;
        font-size: 1.6rem;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            right: 0.8em;
            width: 0.7em;
            transition: 0.2s cubic-bezier(0.4, 0.25, 0.3, 1);
            @include svg-icon-arrow-bottom("E66B00");
        }
        &:hover {
            border-color: $hover-orange;
        }
        &:active {
            background-color: $hover-orange;
        }
    }
    .selectboxValue {
        flex: 1;
        font-size: FZ(16);
        @if $position == "center" {
            text-align: center;
        } @else {
            text-align: left;
        }
    }
    .listWrapper {
        position: absolute;
        left: 0;
        right: 0;
        font-size: inherit;
        top: 100%;
        z-index: 10;
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.2s ease-out;
        overflow: hidden;
        border-radius: 0 0 8px 8px;
        @include drop-shadow;
        .selectboxPanel {
            font-size: inherit;
            position: relative;
            margin: 0;
            background: #f6f6f6;
            border-radius: 0 0 8px 8px;
            overflow: hidden;
            min-height: 0;
            li {
                position: relative;
                font-size: inherit;
                input[type="radio"] {
                    position: absolute;
                    inset: 0;
                    pointer-events: none;
                }
                label {
                    height: $list-height;
                    cursor: pointer;
                    font-size: FZ(14);
                    padding-left: 1.4em;
                    display: flex;
                    align-items: center;
                    @if $position == "center" {
                        padding-right: 1.4em;
                    } @else {
                        padding-left: 1.4em;
                    }
                    &:hover {
                        background-color: #e66b00;
                        color: #fdfdfd;
                    }
                }
                &:first-of-type {
                    margin-top: 1rem;
                }
                &:last-of-type {
                    margin-bottom: 1rem;
                }
            }
        }
    }
    &.isSelected {
        .selectboxHead {
            background-color: $hover-orange;
            border-color: $hover-orange;
            color: #050505;
            &::after {
                rotate: 90deg;
            }
        }
        &.isOpen {
            .selectboxHead {
                &::after {
                    rotate: unset;
                }
            }
        }
    }
    &.isOpen {
        .selectboxHead {
            border-color: $hover-orange;
        }
        .listWrapper {
            grid-template-rows: 1fr;
            .selectboxPanel {
                overflow: auto;
                border-color: $hover-orange;
            }
        }
    }
}
